
$be1400 = '(max-width: 1400px)'
$be1200 = '(max-width: 1200px)'
$be992 = '(max-width: 992px)'
$be768 = '(max-width: 768px)'
$be576 = '(max-width: 576px)'
$be320 = '(max-width: 320px)'


bp(arguments)
  @media arguments
  {block}
